 .header {
   position: fixed;
   width: 100%;
   top: 0;
   height: 240px;
   display: flex;
   flex-Direction: column;
   align-Items: center;
   justify-content: center;
   z-Index: 2;
   background: rgb(23,11,223);
   background: linear-gradient(90deg, rgba(23,11,223,1) 0%, rgba(82,6,126,1) 36%, rgba(1,104,125,1) 100%);
   border-bottom: 1px solid black;
 }

 .title {
   font-size: 5vw;
 }
